service: academic-management-backend
frameworkVersion: "3"

provider:
  name: aws
  runtime: nodejs20.x
  region: ap-south-1
  stage: prod
  timeout: 20
  memorySize: 512
  environment:
    MONGODB_URI: ${env:MONGODB_URI}
    JWT_SECRET: ${env:JWT_SECRET}
    MASTER_ADMIN_EMAIL: ${env:MASTER_ADMIN_EMAIL}
    MASTER_ADMIN_PASSWORD: ${env:MASTER_ADMIN_PASSWORD}
    MASTER_ADMIN_NAME: ${env:MASTER_ADMIN_NAME}
    NODE_ENV: ${env:NODE_ENV, 'production'}
    FRONTEND_URL: ${env:FRONTEND_URL, 'https://main.daqm1aijotilg.amplifyapp.com'}

functions:
  api:
    handler: index.handler
    events:
      - httpApi:
          path: /{proxy+}
          method: ANY

plugins:
  - serverless-dotenv-plugin
  - serverless-plugin-tracing

package:
  patterns:
    - "!node_modules/aws-sdk/**"
