service: my-backend-api
frameworkVersion: "3"

provider:
  name: aws
  runtime: nodejs22.x
  region: ap-south-1
  stage: prod
  timeout: 10
  memorySize: 256

  httpApi:
    cors:
      allowedOrigins:
        - https://main.daqm1aijotilg.amplifyapp.com
        - http://localhost:5173
        - http://localhost:5174
      allowedHeaders:
        - Content-Type
        - Authorization
        - X-Requested-With
        - Accept
      allowedMethods:
        - GET
        - POST
        - PUT
        - PATCH
        - DELETE
        - OPTIONS
      allowCredentials: true

functions:
  api:
    handler: index.handler
    events:
      - httpApi:
          path: /{proxy+}
          method: ANY

package:
  individually: false
  exclude:
    - node_modules/**
    - .git/**
    - .vscode/**
    - test/**

custom:
  webpack:
    webpackConfig: ./webpack.config.js
    includeModules: true
